@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-semibold.woff2") format("woff2"), url("../fonts/opensans-semibold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-bold.woff2") format("woff2"), url("../fonts/opensans-bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/opensans_condensed-light.woff2") format("woff2"), url("../fonts/opensans_condensed-light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/opensans_condensed-bold.woff2") format("woff2"), url("../fonts/opensans_condensed-bold.woff") format("woff");
  font-weight: 700;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  letter-spacing: 0.1em;
  background: #333333;
  color: #ffffff;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 48px;
  line-height: 65px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.section-title-gold {
  color: #d1a954;
}

.container {
  width: 1110px;
  margin: 0 auto;
}
@media (max-width: 1110px) {
  .container {
    width: 690px;
  }
}

.header {
  background-image: url(/dist/img/header-bkg.webp);
  background-position: center;
  padding: 50px 0 179px;
}
@media (max-width: 1110px) {
  .header {
    padding: 48px 0 363px;
  }
}
.header__nav-wrp {
  display: flex;
  justify-content: space-between;
  margin: 0 0 219px;
}
@media (max-width: 1110px) {
  .header__nav-wrp {
    width: 655px;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
    margin: 0 0 260px;
  }
}
.header__nav-list {
  display: flex;
  gap: 63px;
}
@media (max-width: 1110px) {
  .header__nav-list {
    width: 655px;
    gap: 0;
    justify-content: space-between;
  }
}
.header__nav-link {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
@media (max-width: 1110px) {
  .header__nav-link {
    font-size: 16px;
    line-height: 22px;
    font-weight: 0.05em;
    letter-spacing: 700;
  }
}
.header__tel {
  border-bottom: 2px solid #d1a954;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.header__content-wrp {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1110px) {
  .header__content-wrp {
    display: block;
  }
}
.header__content {
  width: 540px;
  min-height: 296px;
}
@media (max-width: 1110px) {
  .header__content {
    width: 655px;
  }
}
.header__title {
  margin: 88px 0 50px;
  text-transform: uppercase;
  font-size: 64px;
  line-height: 87px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
@media (max-width: 1110px) {
  .header__title {
    margin-top: 0;
  }
}
.header__desc {
  margin: 0 0 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0;
}
.header__link-poster {
  width: 160px;
  min-height: 50px;
}
@media (max-width: 1110px) {
  .header__link-poster {
    width: 175px;
  }
}
@media (max-width: 1110px) {
  .header__slider {
    display: none;
  }
}
.header__slider-img {
  width: 370px;
  min-height: 509px;
}
.header__btn-wrp {
  display: flex;
  justify-content: space-between;
}
.header__btn {
  background: transparent;
  border: none;
  color: inherit;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.about__title {
  margin: 150px 0 100px;
}
.about__subtitle {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
@media (max-width: 1110px) {
  .about__subtitle {
    margin-bottom: 54px;
  }
}
.about__desc {
  margin-top: 23px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0;
}
@media (max-width: 1110px) {
  .about__desc {
    margin-top: 0;
  }
}
.about__wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.about__item--1 {
  width: 449px;
  margin-right: 27px;
}
@media (max-width: 1110px) {
  .about__item--1 {
    width: 431px;
    margin-right: 24px;
  }
}
.about__item--2 {
  width: 258px;
  min-height: 323px;
  margin-right: 11px;
}
@media (max-width: 1110px) {
  .about__item--2 {
    width: 214px;
    height: 349px;
    margin: 0;
  }
}
.about__img {
  width: 369px;
  height: 323px;
}
@media (max-width: 1110px) {
  .about__img {
    display: none;
  }
}
.about__digits {
  margin-top: 24px;
}
.about .digits__item {
  margin-top: 36px;
}
@media (max-width: 1110px) {
  .about .digits__item {
    margin-top: 50px;
  }
}
.about .digits__desc {
  margin-top: 15px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.about .digits__desc-gold {
  color: #d1a954;
}

.perfomance__title {
  margin: 119px 0 113px;
}
@media (max-width: 1110px) {
  .perfomance__title {
    margin: 78px 0 94px;
  }
}
.perfomance__wrp {
  display: flex;
}
.perfomance__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 368px;
  height: 478px;
  box-sizing: border-box;
}
@media (max-width: 1110px) {
  .perfomance__item {
    width: 346px;
  }
}
.perfomance__item--1 {
  background-image: url(/dist/img/perfomance-1.webp);
  padding: 34px 232px 414px 33px;
}
.perfomance__item--2 {
  background-image: url(/dist/img/perfomance-2.webp);
  padding: 53px 122px 396px 57px;
}
.perfomance__item--3 {
  background-image: url(/dist/img/perfomance-3.webp);
  padding: 50px 145px 398px 32px;
}
@media (max-width: 1110px) {
  .perfomance__item--3 {
    display: none;
  }
}
.perfomance__item-desc {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.review {
  min-height: 550px;
  margin-top: 209px;
}
@media (max-width: 1110px) {
  .review {
    margin-top: 99px;
  }
}
.review__container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1110px) {
  .review__container {
    width: 100%;
  }
}
.review .years__item-desc {
  font-size: 72px;
  line-height: 98px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #d1a954;
}
.review__wrp {
  display: flex;
  box-sizing: border-box;
  background-image: url(/dist/img/review-screen.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 126px 100px 126px 190px;
}
@media (max-width: 1110px) {
  .review__wrp {
    padding: 134px 134px 118px 168px;
  }
}
.review__stars {
  display: flex;
  flex-direction: column;
  margin: 25px 0 0 117px;
}
@media (max-width: 1110px) {
  .review__stars {
    margin-left: 75px;
  }
}
.review__stars-img {
  width: 445px;
  height: 52px;
  margin-bottom: 31px;
}
@media (max-width: 1110px) {
  .review__stars-img {
    width: 307px;
    height: 39px;
    margin-bottom: 20px;
  }
}
.review__stars-title {
  width: 540px;
  height: 149px;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: 700;
  letter-spacing: 0;
}
@media (max-width: 1110px) {
  .review__stars-title {
    width: 457px;
    height: 213px;
    font-size: 34px;
  }
}
.review__stars-title-line {
  display: block;
}

.partner__title {
  margin: 150px 0 60px;
}
@media (max-width: 1110px) {
  .partner__title {
    margin-top: 187px;
  }
}
.partner__wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partner__list {
  display: flex;
  justify-content: center;
  gap: 78px;
}
@media (max-width: 1110px) {
  .partner__list {
    width: 509px;
    flex-wrap: wrap;
  }
}
.partner__button {
  margin: 113px 0 0;
  width: 359px;
  min-height: 72px;
  text-align: center;
}
@media (max-width: 1110px) {
  .partner__button {
    margin-top: 122px;
  }
}

@media (max-width: 1110px) {
  .footer__contact {
    width: 690px;
    margin: 0 auto;
  }
}
.footer__contact-title {
  margin: 112px 0 52px;
}
@media (max-width: 1110px) {
  .footer__contact-title {
    margin: 61px 0 58px;
  }
}
.footer__contact-list {
  width: 1085px;
  margin-bottom: 96px;
  display: flex;
  justify-content: center;
  gap: 49px;
}
@media (max-width: 1110px) {
  .footer__contact-list {
    width: 690px;
    height: 59px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-between;
    margin-bottom: 75px;
  }
}
.footer__contact-nested-list {
  display: flex;
  gap: 49px;
}
@media (max-width: 1110px) {
  .footer__contact-nested-list {
    height: 59px;
    flex-direction: column;
    gap: 0;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.footer__contact-list-item-link, .footer__contact-list-item-adress {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
@media (max-width: 1110px) {
  .footer__contact-list-item-link, .footer__contact-list-item-adress {
    font-size: 16px;
    line-height: 22px;
    font-weight: 0.05em;
    letter-spacing: 700;
  }
}
.footer__contact-list-item-adress {
  font-style: inherit;
}
.footer__author-desc {
  display: flex;
  justify-content: space-between;
  min-height: 48px;
  border-top: 1px solid #989898;
  align-items: end;
  margin-bottom: 41px;
}
@media (max-width: 1110px) {
  .footer__author-desc {
    width: 713px;
  }
}
.footer__author-desc-content, .footer__author-desc-link {
  color: #989898;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0;
}

.popup__input-field::placeholder, .popup__hint {
  color: #989898;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 600;
  letter-spacing: 0;
}
.popup input,
.popup textarea {
  background: #444444;
  border: 1px solid #616161;
  padding: 0 0 0 15px;
  box-sizing: border-box;
}
.popup input {
  width: 180px;
  height: 39px;
}
.popup textarea {
  resize: none;
  width: 310px;
  height: 112px;
}
.popup__hint {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.popup__button {
  width: 190px;
  min-height: 51px;
}
.popup__close-btn {
  background: transparent;
  border: none;
  padding: none;
}

.button {
  color: inherit;
  background: #d1a954;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}