$dark-gray: #333333 !default;
$gold: #d1a954 !default;
$white: #ffffff !default;
$gray: #989898 !default;
$input-gray: #444444 !default;
$input-gray-border: #616161 !default;

$desktop-wide: 1110px;
$tablet: 768px;
$mobile: 576px;

$font-family: "Open Sans", sans-serif !default;
$font-family-condensed: "Open Sans Condensed", sans-serif !default;
