$dark-gray: #333333 !default;
$gold: #d1a954 !default;
$white: #ffffff !default;
$gray: #989898 !default;

$font-family: "Open Sans", sans-serif !default;
$font-family-condensed: "Open Sans Condensed", sans-serif !default;
