@use "./veriables" as *;
@use "./mixins" as mix;

.about {
  &__title {
    margin: 150px 0 100px;

    @include mix.tablet {
      margin: 90px 60px;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    @include mix.font-mixin(21px, 29px);

    @include mix.desktop-wide {
      margin-bottom: 54px;
    }

    @include mix.tablet {
      margin-bottom: 40px;
    }
  }

  &__desc {
    margin-top: 23px;
    font-family: $font-family;
    @include mix.font-mixin(
      16px,
      $letter-spacing-param: 0,
      $font-weight-param: 400
    );

    @include mix.desktop-wide {
      margin-top: 0;
    }

    @include mix.tablet {
      font-size: 14px;
      height: 210px;
    }
  }

  &__wrp {
    @include mix.flex-center();
    align-items: flex-start;

    @include mix.tablet {
      height: 292px;
    }
  }

  &__item {
    &--1 {
      width: 449px;
      margin-right: 27px;

      @include mix.desktop-wide {
        width: 431px;
        margin-right: 24px;
      }

      @include mix.tablet {
        width: 445px;
        margin-right: 30px;
      }
    }

    &--2 {
      width: 258px;
      min-height: 323px;
      margin-right: 11px;

      @include mix.desktop-wide {
        width: 214px;
        height: 349px;
        margin: 0;
      }
    }
  }

  &__img {
    width: 369px;
    height: 323px;

    @include mix.desktop-wide {
      display: none;
    }
  }

  &__digits {
    margin-top: 24px;
  }

  .digits {
    &__item {
      margin-top: 36px;

      @include mix.desktop-wide {
        margin-top: 50px;
      }

      @include mix.tablet {
        margin-top: 25px;
      }
    }

    &__desc {
      margin-top: 15px;
      @include mix.font-mixin(16px, 22px, 0.05em);
    }

    &__desc-gold {
      color: $gold;
    }
  }
}
