@use "../veriables" as *;
@use "../mixins" as mix;

.partner {
  &__title {
    margin: 150px 0 60px;

    @include mix.desktop-wide {
      margin-top: 187px;
    }

    @include mix.tablet {
      margin: 33px 0 56px;
    }
  }

  &__wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 78px;

    @include mix.desktop-wide {
      width: 509px;
      flex-wrap: wrap;
    }

    @include mix.tablet {
      width: 478px;
    }
  }

  &__button {
    margin: 113px 0 0;
    width: 359px;
    height: 72px;
    text-align: center;

    @include mix.desktop-wide {
      margin-top: 122px;
    }

    @include mix.tablet {
      margin-top: 76px;
      width: 326px;
      height: 45px;
    }
  }
}
