@use "../veriables" as *;
@use "../mixins" as mix;

.partner {
  &__title {
    margin: 150px 0 60px;

    @include mix.desktop-wide {
      margin-top: 187px;
    }
  }

  &__wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 78px;

    @include mix.desktop-wide {
      width: 509px;
      flex-wrap: wrap;
    }
  }

  &__button {
    margin: 113px 0 0;
    width: 359px;
    min-height: 72px;
    text-align: center;

    @include mix.desktop-wide {
      margin-top: 122px;
    }
  }
}
