@use "./veriables" as *;
@use "./mixins" as mix;

.perfomance {
  &__title {
    margin: 119px 0 113px;

    @include mix.desktop-wide {
      margin: 78px 0 94px;
    }

    @include mix.tablet {
      margin: 90px 0 60px;
    }
  }

  &__wrp {
    display: flex;
  }

  &__item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 368px;
    height: 478px;
    box-sizing: border-box;

    @include mix.desktop-wide {
      width: 346px;
    }

    &--1 {
      background-image: url(/dist/img/perfomance-1.webp);
      padding: 34px 232px 414px 33px;
    }

    &--2 {
      background-image: url(/dist/img/perfomance-2.webp);
      padding: 53px 122px 396px 57px;
    }

    &--3 {
      background-image: url(/dist/img/perfomance-3.webp);
      padding: 50px 145px 398px 32px;

      @include mix.desktop-wide {
        display: none;
      }
    }
  }

  &__item-desc {
    text-transform: uppercase;
    @include mix.font-mixin(24px, 33px, 0.05em);
  }
}
